@import "tailwindcss";

:root {
  /* --background: #ffffff; */


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
 
    --foreground: rgba(255, 255, 255, 0.87);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}
