 /* .casebanner-section {
    background-image: url("https://www.b3net.com/old-site-2025/wp-content/themes/perfecti/case-4-assets/images/banner-bg.jpg");
    background-repeat: no-repeat;
    padding: 100px 0;
    font-family: 'Poppins', serif;
    background-size: cover;
    margin-top: 140px;
    background-position: bottom center;
} */

.bnr-subtile {
    color: #fdf100 !important;

}
.organic-block h4 {
    color: #fdf100;
}


.summingdesc{
    color: white;
}



.casebanner-wrap {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: end;
}

.banner-caption {
    width: 60%;
}

.bnr-subtile {
    color: #fdf100 !important;
    font-size: 30px;
    text-transform: uppercase;

}

.banner-caption h1 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 15px;
    line-height: 37px;
}

.banner-caption h1 span {
    color: #fdf100;
}

.banner-caption p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.three-blocks {
    display: flex;
    padding-top: 25px;
}

.organic-block {
    border-left: 2px solid #fff;
    padding-right: 28px;
    padding-left: 20px;
    width: 42%;
}

.organic-block h4 {
    color: #fdf100;
    font-size: 50px;
    font-weight: 900;
    margin: 0;
    line-height: 44px;
}

.organic-block p {
    font-size: 15px;
    margin: 6px 0 1px 0;
}

.sec-pad {
    padding: 60px 0 0 0;
}

.title-color h2 {
    color: #1a1a1a;
}

.case-sec-ttl h2 {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
	margin-bottom: 35px;
    text-transform: uppercase;
    position: relative;
}


.case-sec-ttl h2:after {
    content: '';
    width: 140px;
    height: 1px;
    background: #fdf100;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 12px);
}

.case-sec-ttl-v1 {
    position: relative;
}

.case-sec-ttl-v1 span {
    color: #f26500;
    font-weight: 300;
    font-family: 'Poppins', serif;
    text-transform: uppercase;
}

.case-sec-ttl-v1 h2 {
    font-weight: 700;
    text-align: left;
    font-size: 34px;
    text-transform: initial;
    margin: 0 0 40px;
}

.case-sec-ttl-v1 h2:after {
    content: '';
    width: 123px;
    height: 1px;
    background: #56676d;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(0, 10px);
}

.used-service-wrap {
    display: flex;
    justify-content: center;
    margin: 0 -15px;
}

.services-block {
    display: flex;
    align-items: center;
    background: #4d4d4d;
    padding: 14px 22px;
    border-radius: 5px;
    margin: 0 15px 0;

} 

.service-icon {
    margin: 0 25px 0 0;
}

.service-icon img {
    border-radius: 50%;
	border: none;
}

.service-desc {
    font-weight: normal;
    font-size: 30px;
    color: #fff;
    line-height: 40px;
}

.service-desc span {
    color: #fdf100;
    display: block;
    font-weight: 700;
}


.hire-us-section {
    background-image: url(https://www.b3net.com/old-site-2025/wp-content/themes/perfecti/case-4-assets/images/hire-us-bg.png);
    background-repeat: no-repeat;
    align-items: center;
    background-position: bottom center;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-size: cover;
    margin: 60px auto 0;
    border-radius: 10px;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.2);
    position: relative;
	max-width: 80%;

}


.hire-left .sectitl h2 {
    text-align: left;
    font-size: 26px;
    margin: 10px 0;
    text-transform: capitalize;
	color: #1a1a1a !important;
    line-height: 40px;
}

.hire-left p {
    margin-bottom: 0;
    text-align: left;
    color: #1a1a1a;
    font-size: 20px;
    line-height: 22px;
    padding-right: 46px;
}

.hire-right {
    min-width: 30%;
    text-align: right;
}

.client-sec {
    background-image: url(https://www.b3net.com/old-site-2025/wp-content/themes/perfecti/case-4-assets/images/client-bg.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 60px 0;
    background-size: cover;
}

.our-client-sec {
    display: flex;
}

.two-blocks {
    width: 50%;
}

.case-testi {
    background-image: url(https://www.b3net.com/old-site-2025/wp-content/themes/perfecti/case-4-assets/images/testi-bg.png);
    background-repeat: no-repeat;
    padding: 70px 0;
    width: 100%;
    align-items: center;
    background-position: top left;
    background-size: cover;
    border-radius: 10px;
}

.case-testi-col {
    padding: 0 18%;
}

.client-says {
    border: 1px solid #4d4d4d;
    border-left-width: 3px;
    border-right-width: 3px;
    padding: 40px;
    position: relative;
    margin: 30px 0 50px;
}

.client-says:before {
    content: '';
    background-image: url(https://www.b3net.com/old-site-2025/wp-content/themes/perfecti/case-4-assets/images/quote-1.png);
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    left: 40px;
    width: auto;
    height: 33px;
    top: -18px;
    background-color: #fff;
    padding: 0 22px;
    background-position: center;
}

.client-says:after {
    content: '';
    background-image: url(https://www.b3net.com/old-site-2025/wp-content/themes/perfecti/case-4-assets/images/quote-2.png);
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    right: 40px;
    width: auto;
    height: 33px;
    bottom: -18px;
    background-color: #fff;
    padding: 0 22px;
    background-position: center;
}

.client-says h2 {
    font-size: 28px;
    font-weight: normal;
    font-style: italic;
    margin: 0;
}

.test-left h4 {
    color: #1a1a1a;
    font-size: 26px;
    margin-bottom: 6px;
    font-weight: 700;
}

.test-left p {
    color: #4d4d4d;
    font-size: 21px;
}

.test-details {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.rating {
    color: #ffbe00;
    font-size: 30px;
    margin-bottom: 7px;
}

.rating i {
    margin-left: 5px;
}

.client-imgwrap {
    position: relative;
}

.client-imgwrap img {
    width: 100%;
    border-radius: 12px;
    border: 2px solid #fff;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: none;
}

.client-imgwrap .play-btn img {
    margin: 0;
}

.two-blocks.f-block {
    margin-right: 60px;
}

.seo-result-wrap .two-blocks.f-block {
    margin-left: 60px;
    margin-right: 0;
}

.value-driven-sec {
    background: #fdf100;
    padding: 60px 0 !important;
}

.value-driven-sec .case-sec-ttl-v1 h2:after {
    background: #000;

}

.value-driven-sec2 {
    background: #4d4d4d;
}

.value-driven-sec2 p {
    color: #fff;
}

.value-driven-sec2 .case-sec-ttl-v1 h2 {
    color: #fff;
}

.value-driven-sec2 .case-sec-ttl-v1 h2:after {
    background: #fdf100;

}

.web-planning-sec {
    background: #fff;
    position: relative;
    padding-bottom: 60px;
    overflow: hidden;
}

.web-planning-sec .container {
    position: relative;
    z-index: 2;
}

.web-planning-sec:before {
    content: '';
    background-color: #fafafa;
    width: 3000px;
    height: 1260px;
    position: absolute;
    left: -170px;
    right: 0;
    top: auto;
    bottom: -460px;
    transform: rotate(160deg);
}


/* digital-planing-sec */
.digital-planing-sec {
    background: #faf8eb;
    padding: 60px 0;

}
.vital-p {
    font-size: 20px;
    font-weight: 700;
}
.case-sec-ttl-v1 h2 {
    font-weight: 700;
    text-align: left;
    font-size: 34px;
    text-transform: initial;
    margin: 0 0 40px;
    color: #1a1a1a;
}

.case-sec-ttl-v1 h2:after {
    content: '';
    width: 123px;
    height: 1px;
    background: #fdf100;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(0, 10px);
}

.digital-planing-sec ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.digital-planing-sec ul li {
    font-size: 18px;
    color: #363636;
    padding-right: 8px;
}

.digital-planing-sec ul li i {
    color: #fdf100;
    padding-right: 8px;
}

.step-process-col {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.step-process-main {
    padding: 0 15px;
    width: 50%;
}

.step-process {
    border: 1px solid #fdf100;
    border-radius: 10px;
    padding: 30px;
    background: #fff;
    margin: 30px 0;
    min-height: 300px;
}

.step-process h4 {
    margin-bottom: 20px;
}

/* ============ */

/* remarkable-result-section */

.sales-graph-wrap {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.sales-rectangle {
    width: 31.3%;
    background: #fff;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-shadow: 0 9px 5px rgba(0, 0, 0, 0.2);
    padding: 30px 35px;
}


.sales-count {
    font-size: 50px;
    color: #fff;
    margin: 0 0 6px 0;
    line-height: 42px;
    font-weight: 700;
}

.sales-text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.sales-rectangle.bg-yellow {
    background: #fdf100;
}

.sales-rectangle.bg-gray {
    background: #4d4d4d;
}

.sales-rectangle.bg-black {
    background: #1a1a1a;
}

.sales-rectangle.bg-yellow .sales-count,
.sales-rectangle.bg-yellow .sales-text {
    color: #1a1a1a;
}

.seo-effort-sec {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 50px;
    margin: 0 -15px;
}

.seo-block-1 {
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 15px 0px rgba(206, 210, 216, 1);
    padding: 40px 30px;
}

.seo-block-1 img {
    width: auto;
    max-width: initial;
}

.case-img-wrap {
    margin: 30px 0 0;
}


/* support-partnership-sec */

.seo-result-sec {
    background: #faf9ed;
}

.seo-result-wrap {
    display: flex;
    align-items: center;
}

.get-result-btn.btn.btn-primary,
.submit-btn.btn.btn-primary {
    background: #fdf100;
    padding: 14px 35px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #1a1a1a;
    border-radius: 7px;
    text-transform: inherit;
    margin: 25px 0 0;
}

.submit-btn.btn.btn-primary {
    color: #1a1a1a;
    padding: 14px 55px;
    text-transform: uppercase;
}

.seo-result-wrap .seo-imgwrap {
    position: relative;
}

.seo-imgwrap img {
    width: 100%;
}


/* request quote */
.quote-form {
    margin: 60px auto 0;
}

.inputrow {
    display: flex;
    justify-content: center;
    margin: 0 -15px;
}

.inputcol {
    width: 100%;
    margin: 0 15px 20px;
}

.inputsblocks label {
    color: #4c4c4c;
    font-size: 18px;
    margin: 0 0 10px 0;
    font-weight: normal;
}

.inputsblocks label span {
    color: #1a1a1a;
}

.inputcol .input-control {
    display: block;
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
    padding: 9px 10px;
    font-size: 16px;
    color: #000;
    border: 1px solid #a8a8a8;
    border-radius: 0;
    background: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    box-shadow: none;
    border-radius: 5px;
}

.inputcol .textarea-control {
    display: block;
    width: 100%;
    height: 140px;
    margin-bottom: 10px;
    padding: 9px 10px;
    font-size: 16px;
    color: #000;
    border: 1px solid #a8a8a8;
    border-radius: 0;
    background: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    box-shadow: none;
    border-radius: 5px;
}

.inputcol .input-control:focus,
.inputcol .textarea-control:focus {
    border-color: #25b77c;
}

.submit-btn-sec {
    text-align: center;
}

.hireus-btn.btn.btn-primary {
    background: #1a1a1a;
	border: 1px solid #1a1a1a;
}

.btn.btn-primary i {
    margin-right: 0;
}

.client-sec,
.client-sec p {
    color: #fff;
}

.our-client-sec .f-block {
    width: 42%;
}

.our-client-sec .s-block {
    width: 52%;
}

.client-sec .case-sec-ttl-v1 h2 {
    color: #fdf100;
    text-transform: uppercase;
}

.client-sec .case-sec-ttl-v1 span {
    color: #fff;
    display: block;
}

.client-sec .case-sec-ttl-v1 h2:after {
    background: #fdf100;
}

.identify-text h4 {
    color: #1a1a1a;
    background: #fdf100;
    display: inline-block;
    padding: 9px 6% 9px 21px;
    margin: 20px 0 30px;
}

.identify-text ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.identify-text ul li {
    font-size: 18px;
    color: #4d4d4d;
    margin-bottom: 5px;
}

.arrows li {
    position: relative;
    padding-left: 28px;
}

.arrows li:before {
    content: "\f0a9";
    font: normal normal normal 14px/1 FontAwesome;
    color: #ffd500;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 8px;
}

.list-half {
    display: flex;
    flex-wrap: wrap;
}

.list-half li {
    width: 50%;
}

.ecofriendly-sec .case-sec-ttl-v1 h2 {
    text-transform: uppercase;
}
.ecofriendly-sec{
	background: none;
}
.case-img-wrap2 {
    text-align: center;
    margin-top: 50px;
}

.case-img-wrap2 h4 {
    text-transform: uppercase;
    margin-bottom: 40px;
}

.success-sec,
.request-quote-sec {
    padding: 60px 0;
}


.value-driven-sec .case-sec-ttl-v1 h2 {
    color: #1a1a1a;
    width: 100%;
}
.value-driven-sec  p {
	color: #4d4d4d;
    width: 100%;
}

@media (max-width: 991px) {
    .casebanner-wrap {
        flex-direction: column;
    }

    .banner-caption {
        padding: 0 90px 0 0;
        width: 100%;
        margin: 0 0 20px 0;
    }

    .case-sec-ttl h2,
    .case-sec-ttl-v1 h2,
    .hire-left .sectitl h2 {
        font-size: 21px;
		line-height: 29px;
    }

    .banner-caption h1 {
        font-size: 24px ;
    }

    .casebanner-section {
        padding: 40px 0;
    }

    .service-desc {
        font-size: 21px;
        line-height: 29px;
    }

    .service-icon {
        margin: 0 10px 0 0;
        width:80px;
    }

    .services-block {
        padding: 14px 15px;
    }


    .hire-us-section {
        padding: 20px 20px;
    }

    .case-testi-col {
        padding: 0 10%;
    }

    .client-says h2 {
        font-size: 23px;
    }

    .test-left h4 {
        font-size: 22px;
    }

    .test-left p {
        font-size: 17px;
    }

    .our-client-sec .f-block {
        width: 38%;
    }

    .our-client-sec .s-block {
        width: 62%;
    }

    .two-blocks.f-block {
        margin-right: 40px;
    }

    .our-client-sec .s-block {
        width: 62%;
    }

    .identify-text ul li {
        font-size: 16px;
        line-height: 28px;
    }

    .sales-count {
        font-size: 40px;
        line-height: normal;
    }

    .sales-rectangle {
        padding: 20px 20px;
    }

    .step-process-main {
        width: 100%;
        margin-bottom: 25px;
    }
}

@media (max-width: 767px) {
    .casebanner-section {
        margin-top: 48px;
    }

    .banner-caption {
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .banner-caption h1 {
        font-size: 18px;
        line-height: inherit;
    }

    .banner-caption p {
        font-size: 15px;

    }

    .services-block {
        padding: 12px 10px;
    }

    .casebanner-wrap,
    .hire-us-section,
    .inputrow {
        flex-direction: column;
    }

    .case-sec-ttl h2 {
        font-size: 24px;
        width: 100%;
    }

    .hire-left,
    .hire-left .sectitl h2,
    .hire-left p {
        text-align: center;
    }

    .hire-right {
        margin: 20px 0 0;
    }

    .hire-left p {
        font-size: 16px;
        padding-right: 0;
    }

    .inputcol {
        width: 100%;
        margin: 0 0 20px;
    }

    .service-icon {
        margin: 0 10px 0 0;
		width: 110px;
    }

    .service-desc {
        font-size: 18px;
        line-height: 26px;
    }

    .case-sec-ttl h2 {
        margin: 0 0 40px;
    }

    .services-block {
        margin: 0 10px 0;
    }

    .service-desc {
        text-align: left;
    }

    .client-says h2 {
        font-size: 21px;
    }

    .client-says {
        margin: 20px 0 40px;
        padding: 30px;
    }

    .hire-us-section {
        background-size: cover;
    }

    .our-client-sec {

        flex-direction: column;
    }

    .two-blocks {
        width: 100%;
    }

    .two-blocks.f-block {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .case-sec-ttl-v1 h2 {
        font-size: 25px;
    }


    .value-driven-sec .case-sec-ttl-v1 h2 {
        width: 100%;
		
    }

    .sales-graph-wrap,
    .seo-result-wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sales-rectangle {
        width: 100%;
        margin: 0 0 20px;
        max-width: 330px;
    }

    .sales-count {
        font-size: 38px;
    }

    .seo-result-wrap .two-blocks.f-block {
        margin-top: 30px;
        margin-left: 0px;
    }

    .organic-block h4 {
        font-size: 36px;
        line-height: normal;
    }

    .organic-block {
        padding-right: 10px;
        padding-left: 10px;
        width: 30%;
        line-height: 19px;
    }

    .inputrow {
        margin: 0;
    }

    .step-process {
        padding: 30px 15px;
        flex-direction: column;
        align-items: left;
    }

    .seo-block-1 img {
        width: auto;
        max-width: 100%;
    }

    .seo-effort-sec {
        flex-direction: column;
    }

    .our-client-sec .f-block,
    .our-client-sec .s-block {
        width: 100%;
    }

    .step-process-main {
        margin-bottom: 0;
    }

    .step-process {
        margin: 30px 0 0;
        min-height: auto;
    }

    .step-process-col {
        margin-bottom: 30px;
    }

    .case-img-wrap2 h4 {
        font-size: 17px;
    }

    .case-sec-ttl h2,
    .case-sec-ttl-v1 h2,
    .hire-left .sectitl h2 {
        font-size: 23px;
    }

    .hireus-btn.btn.btn-primary {
        padding: 14px 20px;
    }

    .step-process h4 {
        font-size: 18px;
    }	.mobile_menu_icon {		display: block !important;	}
}

@media (max-width: 575px) {
    .sec-pad {
        padding: 40px 0 0 0;
    }

    .organic-block h4 {
        font-size: 28px;
    }

    .organic-block {
        width: 43%;
    }

    .used-service-wrap {
        display: block;
        margin: 0;
    }

    .services-block {
        margin: 0 0 10px;
        width: 100%;
    }

    .service-icon {
        margin: 0 16px 0 0;
        width: 76px;
    }

    .service-desc {
        font-size: 22px;
        line-height: 31px;
    }

    .hire-us-section {
        margin: 30px auto 0;
    }

    .case-testi,
    .digital-planing-sec,
    .client-sec,
    .success-sec,
    .request-quote-sec {
        padding: 40px 0;
    }

    .case-testi-col {
        padding: 0;
    }

    .client-says {
        margin: 19px 0 30px;
        padding: 20px;
    }

    .client-says h2 {
        font-size: 20px;
    }

    .test-left h4 {
        font-size: 19px;
    }

    .test-left p {
        font-size: 15px;
    }

    .rating {
        font-size: 19px;
    }


    .identify-text h4 {
        padding: 8px 9px;
        margin: 20px 0 20px;
        font-size: 20px;
        line-height: normal;
    }

    .list-half li {
        width: 100%;
    }

    .sales-graph-wrap {
        margin: 30px 0 0;
    }

    .seo-effort-sec {
        padding: 10px 0 30px;
    }

    .success-sec .step-process-main {
        margin-bottom: 20px;
    }

    .inputcol .input-control {
        height: 43px;
    }

    .inputcol {
        margin: 0 0 15px;
    }

    .submit-btn.btn.btn-primary {
        padding: 14px 25px;
        width: 100%;
        margin-top: 0;
    }
	.sec-pad p, .hire-left p {
        text-align: left;
    }
	.hire-left {
		padding-right: 0px;
	}
}
