.casebanner-section {
	background-image: url("https://www.b3net.com/wp-content/themes/b3net/assets/images/case-studies/banner-bg-c3-1.jpg");
	background-repeat: no-repeat;
	padding: 90px 0;
	margin-top: -30px;
	font-family: 'Poppins', serif;
	background-size: cover;
	background-position: bottom center;
}


.casebanner-wrap {
	display: flex;
	color: #fff;
	justify-content: space-between;
	align-items: end;
	padding: 60px 0;
}

.banner-caption {
	padding: 0 90px 0 0;
	width: 60%;
}

.bnr-img {
	width: 40%;
}

.bnr-subtile {
	color: #34d1bd !important;
	font-size: 30px;
	text-transform: uppercase;

}

.bnr-img img {
	border: none;
}

.bnr-img p {
	text-align: center;
}

.bnr-img p a {
	font-family: 'Poppins', serif;
	font-weight: 300;
	color: #fff;
}

.banner-caption h1 {
	color: #fff;
	font-size: 28px !important;
	font-weight: 700;
	margin: 0 0 15px;
	line-height: 38px;
	text-transform: initial;

}

.banner-caption p {
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	line-height: 22px;
	color: #fff;
	margin-bottom: 15px;
}

.three-blocks {
	display: flex;
	padding-top: 25px;
}

.organic-block {
	border-left: 2px solid #fff;
	padding-right: 28px;
	padding-left: 8px;
}

.organic-block h4 {
	color: #34d1bd;
	font-size: 50px;
	font-weight: 900;
	margin: 0;
	line-height: 44px;
}

.organic-block p {
	font-size: 13px;
	max-width: 160px;
	line-height: 18px;
	margin: 6px 0 1px 0;
}

.sec-pad {
	padding: 60px 0;
}

.title-color h2 {
	color: #4192d0;
}

.d-bg {
	background-color: #25b77c;
}

.case-sec-ttl h2 {
	font-weight: 700;
	text-align: center;
	font-size: 40px;
	margin: 0 auto;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 50px;
}

.case-sec-ttl h2:after {
	content: '';
	width: 150px;
	height: 1px;
	background: #56676d;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 12px);
}

.case-sec-ttl-v1 {
	position: relative;
}

.case-sec-ttl-v1 span {
	color: #f26500;
	font-weight: 300;
	font-family: 'Poppins', serif;
	text-transform: uppercase;
}

.case-sec-ttl-v1 h2 {
	font-weight: 700;
	text-align: left;
	font-size: 40px;
	text-transform: initial;
	margin: 0 0 30px;
}

.case-sec-ttl-v1 h2:after {
	content: '';
	width: 123px;
	height: 1px;
	background: #56676d;
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translate(0, 10px);
}

.used-service-wrap {
	display: flex;
	justify-content: center;
}

.services-block {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #edf4fa;
	padding: 15px 30px;
	border-radius: 5px;
	margin: 0 15px 0;
	margin-bottom: 20px;
}

.service-icon {
	margin: 0 25px 0 0;
}

.service-icon img {
	border: 7px solid #cccccc;
	border-radius: 50%;
}

.service-desc {
	font-weight: 700;
	font-size: 30px;
	color: #363636;
	line-height: 36px;
	font-family: 'Lato', sans-serif !important;
}

.service-desc span {
	color: #32c7b3;
	display: block;
}

.hire-us-section {
	background-image: url(../images/case-studies/hire-us-bg-c3.png);
	background-repeat: no-repeat;
	padding: 40px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	background-position: bottom center;
	margin: 60px auto 60px;
	border-radius: 10px;
	box-shadow: 0 9px 10px rgba(0, 0, 0, 0.2);
	background-size: cover;
}


.hire-left .sectitl h2 {
	text-align: left;
	font-size: 26px;
	margin: 10px 0;
	text-transform: uppercase;
	color: #fff !important;
	line-height: 40px;
}

.hire-left p {
	margin-bottom: 0;
	text-align: left;
	color: #fff;
	font-size: 20px;
	line-height: 22px;
	padding-right: 0;
}

.hire-right {
	min-width: 30%;
	text-align: right;
}

.our-client-sec {
	display: flex;
	align-items: center;
	/* display:none; */
}

.two-blocks {
	width: 50%;

}

.hire-left {
	padding-right: 20px;
}

.client-imgwrap {
	position: relative;
}

.client-imgwrap img {
	width: 100%;
}

.play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	display: none;
}

.client-imgwrap .play-btn img {
	margin: 0;
}

.two-blocks.f-block {
	margin-right: 60px;
}

.seo-result-wrap .two-blocks.f-block {
	margin-left: 60px;
	margin-right: 0;
}

.old-design-pattern .case-img-wrap {
	margin-bottom: 0;
}

/* flexus-eco-sec */
.ecofriendly-sec {
	background: #edf4fa;
}

.subtext-ttl-v1 {
	color: #f26500;
	font-size: 30px;
	line-height: 35px;
	font-weight: 300;
	font-family: 'Poppins', serif;
}

.value-driven-sec {
	background: #4192d0;
}

.value-driven-sec .case-sec-ttl-v1 h2 {
	color: #fff;
	width: 65%;
}

.value-driven-sec .case-sec-ttl-v1 h2:after {
	background: #fff;

}

.value-driven-sec p {
	color: #fff;
}

.web-planning-sec {
	background: #fff;
	position: relative;
}



/* digital-planing-sec */
.digital-planing-sec {
	background: #edf4fa;
	padding: 60px 30px;


}

.case-sec-ttl-v1 h2 {
	font-weight: 700;
	text-align: left;
	font-size: 40px;
	text-transform: initial;
	margin: 0 0 30px;
	color: #1a76bd;
}

.case-sec-ttl-v1 h2:after {
	content: '';
	width: 123px;
	height: 1px;
	background: #56676d;
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translate(0, 10px);
}

.digital-planing-sec ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.digital-planing-sec ul li {
	font-size: 18px;
	color: #363636;
	padding: 5px 0;
	padding-right: 8px;
}

.digital-planing-sec ul li i {
	color: #32c7b3;
	padding-right: 8px;
}

.digital-planing-sec.sec-pad h4 {
	color: #32c7b3;
	margin: 22px 0 4px;
}

.step-process {
	border: 1px solid #32c7b3;
	border-radius: 10px;
	padding: 30px;
	background: #fff;
	display: flex;
	margin: 30px 0;
}

.step-process.evenstep {
	flex-direction: row-reverse;
	align-items: center;
}

.step-circlewrap {
	margin: 0 30px 0 0;
}

.step-count-circle {
	background: #edf4fa;
	width: 220px;
	height: 220px;
	text-align: left;
	border-radius: 50%;
	font-family: 'Poppins', serif;
	padding: 57px;
}

.step-no-count {
	color: #4192d0;
	font-size: 40px;
	font-weight: 300;
	line-height: 40px;
}

.step-txt {
	color: #56676d;
	font-size: 50px;
	font-weight: 900;
	font-family: 'Poppins', serif;
	line-height: 50px;
}

.step-description h5 {
	color: #32c7b3;
	font-size: 18px;
	margin: 15px 0 10px 0;
	font-weight: 400;
	font-style: italic;
}

/* ============ */



.sucess-execution-sec {
	display: flex;
	margin: 30px 0 30px;
}

.execution-col-1 {
	background: #ffd3cc;
	padding: 30px;
	border-radius: 10px;
	margin: 0 20px 0 0;
	width: 50%;
}

.execution-col-2 {
	background: #ffd3cc;
	padding: 30px;
	border-radius: 10px;
	margin: 0 0 0 20px;
	width: 50%;
}

.execution-col-1 ul,
.execution-col-2 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.execution-col-1 ul li,
.execution-col-2 ul li {
	font-size: 18px;
	color: #363636;
	padding-right: 8px;
}

.execution-col-1 ul li i,
.execution-col-2 ul li i {
	color: #f26500;
	padding-right: 8px;
}

/* remarkable-result-section */
.remarkable-result-section {
	background: #f2e4da;
}

.remarkable-wrapper {
	margin-top: 215px;
}

.remarkable-wrapper h3 {
	font-size: 28px;
}

.remarkable-wrapper h3 span {
	color: #f26500;
}

.sales-graph-wrap {
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}

.sales-rectangle {
	width: 31.3%;
	background: #fff;
	border-radius: 10px;
	text-align: left;
	display: flex;
	flex-direction: column;

	justify-content: center;
	position: relative;
	box-shadow: 0 9px 5px rgba(0, 0, 0, 0.2);
	padding: 30px 20px;
}


.sales-count {
	font-size: 50px;
	color: #fff;
	font-family: "Lato-Heavy";
	margin: 0 0 6px 0;
	line-height: 36px;
}

.sales-text {
	color: #fff;
	font-size: 16px;
	font-family: 'Poppins', serif;
	font-weight: 400;
}

.sales-rectangle.bg-green {
	background: #32c7b3;
}

.sales-rectangle.bg-gray {
	background: #56676d;
}

.sales-rectangle.bg-blue {
	background: #4192d0;
}

.seo-effort-sec {
	display: flex;
	padding: 30px 0 0;
}

.seo-block-1 img {
	width: auto;
	max-width: 100%;
}

.seo-block-1 p {
	font-style: italic;
	font-weight: 700;
	padding: 0 30% 0 0;
	height: 50px;
	line-height: 20px;
	margin: 0 0 30px 0;
}

.case-img-wrap {
	margin: 30px;
}


/* support-partnership-sec */
.support-partnership-sec {
	background: #fff;
}

.seo-result-sec {
	background: #f5f5f5;
}

.seo-result-wrap {
	display: flex;
	align-items: center;
}

.get-result-btn.btn.btn-primary,
.submit-btn.btn.btn-primary {
	background: #32c7b3;
	padding: 12px 20px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	margin: 25px 0 0;
}

.seo-result-wrap .seo-imgwrap {
	position: relative;
}

.seo-imgwrap img {
	width: 100%;
}


/* request quote */
.quote-form {
	width: 80%;
	margin: 60px auto 0;
}

.inputrow {
	display: flex;
	justify-content: center;
}

.inputcol {
	width: 100%;
	margin: 0 15px 20px;
}

.inputsblocks label {
	color: #56676d;
	font-size: 16px;
	margin: 0 0 10px 0;
	font-weight: 700;
}

.inputsblocks label span {
	color: #4192d0;
}

.inputcol .input-control {
	display: block;
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	padding: 9px 10px;
	font-size: 16px;
	color: #999;
	border: 1px solid #a8a8a8;
	border-radius: 0;
	background: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	box-shadow: none;
	border-radius: 5px;
}

.inputcol .textarea-control {
	display: block;
	width: 100%;
	height: 120px;
	margin-bottom: 10px;
	padding: 9px 10px;
	font-size: 16px;
	color: #999;
	border: 1px solid #a8a8a8;
	border-radius: 0;
	background: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	box-shadow: none;
	border-radius: 5px;
}

.inputcol .input-control:focus,
.inputcol .textarea-control:focus {
	border-color: #25b77c;
}

.submit-btn-sec {
	text-align: center;
}

.hireus-btn.btn.btn-primary {
	background: #32c7b3;
	padding: 12px 20px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	border: 1px solid #32c7b3;
}

.btn.btn-primary i {
	margin-right: 0;
}

.service-icon img {
	max-width: 100px;
}

.get-result-btn.btn.btn-primary,
.submit-btn.btn.btn-primary {
	border: 1px solid #32c7b3;
}

@media screen and (min-width:1600px) and (max-width:2000px) {
	.hire-us-section {
		margin: 60px auto 60px;
		width: 80%;
	}

	.our-client-sec,
	.flexus-eco-sec,
	.flexus-challenge-sec,
	.crafting-custom-sec,
	.remarkable-wrapper,
	.pandemic-wrapper,
	.innerwrap,
	.seo-result-wrap,
	.methodical-wrapper {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
}

@media (max-width:1160px) {
	.banner-caption h1 {
		font-size: 24px !important;
		line-height: 33px;
	}

	.banner-caption {
		padding: 0 10px 0 0;
	}

	.case-sec-ttl h2 {
		width: 50%;
	}

	.seo-block-1 img {
		width: 100%;
	}

	.case-sec-ttl-v1 h2 {
		font-size: 32px;
	}

	.service-icon img {
		max-width: 90px;
	}

	.service-desc {
		font-size: 24px;
		line-height: 30px;
	}
}



@media (max-width: 991px) {

	.case-sec-ttl-v1 h2 {
		font-size: 24px;
	}

	.services-block {
		padding: 16px 18px;
		margin: 0 8px 0;
	}

	.service-icon img {
		max-width: 70px;
	}

	.service-desc {
		font-size: 19px;
		line-height: 25px;
	}

	.hireus-btn.btn.btn-primary {
		padding: 12px 10px;
		min-width: 180px;
	}

}








@media (max-width: 768px) {
	.casebanner-wrap {
		flex-direction: column;
	}

	.banner-caption {
		padding: 0 10px;
		width: 100%;
		margin: 0 0 20px 0;
	}

	.case-sec-ttl h2 {
		width: 60%;
	}

	.banner-caption h1 {
		font-size: 24px;
		line-height: 30px;
	}

	.casebanner-section {
		padding: 40px 0;
	}

	.casebanner-wrap {
		align-items: center;

	}

	.bnr-img {
		width: 100%;
	}

	.order-sec-2 {
		order: 1;
		margin-bottom: 30px;
	}

	.order-sec {
		order: 2;
	}

	.used-service-wrap {
		flex-direction: column;
		gap: 20px;

	}

	.services-block {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.casebanner-wrap,
	.hire-us-section,
	.marketing-output,
	.inputrow {
		flex-direction: column;
		text-align: center;
	}

	.our-client-sec {
		flex-direction: column;
		gap: 20px;
	}

	.two-blocks {
		width: 100%;
	}

	.step-count-circle {
		background: #edf4fa;
		width: 180px;
		height: 180px;
	}

	.step-txt {
		font-size: 37px;
	}

	.service-icon img {
		max-width: 100px;
	}

	.services-block {
		flex-wrap: wrap;
		text-align: left;
		padding: 30px 15px;
		justify-content: normal;
	}

	.service-desc {
		text-align: left;
		font-weight: 700;
		font-size: 26px;
		line-height: 33px;
	}

	.digital-planing-sec {
		padding: 60px 15px;


	}

}

@media (max-width: 576px) {
	.casebanner-section {
		margin-top: 0;
	}

	.banner-caption {
		padding: 0;
		width: 100%;
		text-align: center;
	}

	.banner-caption h1 {
		font-size: 18px;
		line-height: inherit;
	}

	.banner-caption p {
		font-size: 15px;

	}

	.casebanner-section {
		background-position: bottom left;
	}



	.bnr-img {
		width: 100%;
	}

	.case-sec-ttl h2,
	.hire-left .sectitl h2 {
		font-size: 20px;
		width: 100%;
		text-align: center;

	}

	.sec-pad p,
	.hire-left p {
		text-align: center;
	}

	.hire-right {
		margin: 20px 0 0;
	}

	.hire-left p {
		font-size: 16px;
		padding-right: 0;
	}

	.inputcol {
		width: 100%;
		margin: 0 0 20px;
	}

	.column-2 {
		justify-content: space-around;
	}





	.service-icon {
		margin: 0 20px 0 0;
	}


	.hire-us-section {
		background-size: cover;
		flex-direction: column;
	}



	.two-blocks {
		width: 100%;
		text-align: center;
	}

	.two-blocks.f-block {
		margin-bottom: 20px;
		margin-right: 0;
	}

	.case-sec-ttl-v1 h2 {
		font-size: 25px;
		text-align: center;
	}

	.case-sec-ttl-v1 h2:after {
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 10px);
	}

	.value-driven-sec .case-sec-ttl-v1 h2 {
		width: 100%;
	}

	.subtext-ttl-v1 {
		font-size: 25px;
		text-align: center;
	}

	.sucess-execution-sec {
		flex-direction: column;
	}

	.execution-col-1 {
		margin: 0 0 30px;
		width: 100%;
	}

	.execution-col-2 {
		margin: 0;
		width: 100%;
	}

	.sales-graph-wrap,
	.seo-result-wrap {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.sales-rectangle {
		width: 100%;
		margin: 0 0 20px;
		max-width: 330px;
	}

	.sales-count {
		font-size: 38px;
	}

	.seo-result-wrap .two-blocks.f-block {
		margin-top: 30px;

	}

	.three-blocks {
		justify-content: center;
	}

	.remarkable-wrapper {
		text-align: center;
	}

	.remarkable-wrapper h3 {
		font-size: 25px;
		margin-top: 15px;
	}

	.step-circlewrap {
		margin: 0 0 30px 0;
	}

	.step-process {
		padding: 30px 15px;
		flex-direction: column;
		align-items: center;
	}

	.step-process.evenstep {
		flex-direction: column;
		align-items: center;
	}

	.seo-block-1 img {
		width: auto;
		max-width: 100%;
	}

	.seo-effort-sec {
		flex-direction: column;
	}

	.seo-block-1 p {
		padding: 0;
		height: auto;
		margin: 25px 0 0;
		text-align: center;
	}

	.hireus-btn.btn.btn-primary {
		font-size: 14px;

	}

	.service-icon img {
		max-width: 80px;
	}

	.digital-planing-sec {
		background: #edf4fa;
		padding: 60px 10px;
	}

	.seo-result-wrap .two-blocks.f-block {
		margin: 30px 0 0 0;
	}
}


.valueDrivenArc p:nth-of-type(2) {
	color: white !important;
  }
  
.valueDrivenArc p:nth-of-type(1) {
	color: white !important;
  }
  
  .fifthButtomContent p:nth-of-type(2){
	color: white !important;
  }
  .fifthButtomContent p:nth-of-type(1){
	color: white !important;
  }
  .fifthButtomContent p:nth-of-type(3){
	color: white !important;
  }