.case-study-2 .casebanner-section {
	background-image: url("https://www.b3net.com/wp-content/themes/b3net/assets/images/case-studies/banner-bg-c2.jpg");
	background-repeat: no-repeat;
	padding: 90px 0;
	padding-top: 130px;
	height: 100vh;
	font-family: 'Lato', sans-serif;

}

.casestudy4content .bnr-subtile{
	color: #feea5f !important;
}


.casestudy4hireus{
	background-color:#feea5f !important ;
}

.bnr-img img {
	border: none;
	border-radius: 20px;
}

.bnr-img {
	display: flex;
	align-items: center;
	justify-content: center;
}

p {

	color: #363636;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin: 0 0 10px 0;
}

.banner-caption h1 {
	font-weight: 700;
	text-transform: capitalize;
}


.casebanner-wrap {
	display: flex;
	color: #fff;
	justify-content: space-between;
	align-items: end;
}

.banner-caption {
	padding: 0 90px 0 0;
	width: 60%;
}

.bnr-img {
	width: 40%;
}

.bnr-subtile {
	color: #363636;
	font-size: 30px;
	text-transform: uppercase;
}

.bnr-img p {
	text-align: center;
}

.bnr-img p a {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #fff;
}

.banner-caption h1 {
	color: #fff;
	font-size: 42px;
	margin: 0 0 15px;
	line-height: 52px;

}

.banner-caption p {
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	line-height: 22px;
	color: #fff;
}

.three-blocks {
	display: flex;
	padding-top: 25px;
}

.organic-block {
	border-left: 2px solid #fff;
	padding-right: 28px;
	padding-left: 8px;
}

.organic-block h4 {
	color: #363636;
	font-size: 50px;
	font-weight: 900;
	margin: 0;
	line-height: 44px;
}

.organic-block p {
	font-size: 13px;
	max-width: 160px;
	line-height: 18px;
	margin: 6px 0 1px 0;
}

.sec-pad {
	padding: 60px 0;
}

.title-color h2 {
	color: #363636;
}

.d-bg {
	background-color: #25b77c;
}


.case-sec-ttl h2 {
	font-weight: 700;
	text-align: center;
	font-size: 40px;
	width: 40%;
	margin: 0 auto 30px;
	text-transform: uppercase;
	position: relative;
	color: #363636;
}

.case-sec-ttl h2:after {
	content: '';
	width: 150px;
	height: 1px;
	background: #f26500;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 12px);
}

.case-sec-ttl-v1 {
	position: relative;
}

.case-sec-ttl-v1 span {
	color: #f26500;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}

.case-sec-ttl-v1 h2 {
	font-weight: 700;
	text-align: left;
	font-size: 40px;
	text-transform: initial;
	margin: 0 0 30px;
}

.case-sec-ttl-v1 h2:after {
	content: '';
	width: 123px;
	height: 1px;
	background: #f26500;
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translate(0, 10px);
}

.used-service-wrap {
	display: flex;
	justify-content: center;
}

.services-block {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f4f4f4;
	padding: 20px 30px;
	border-radius: 5px;
	margin: 0 30px 0;
}

.service-icon {
	margin: 0 25px 0 0;
}

.service-icon img {
	border: 7px solid #cccccc;
	border-radius: 50%;
	max-width: 100px;
}

.service-desc {
	font-weight: 700;
	font-size: 30px;
	color: #363636;
	line-height: 40px;
}

.service-desc span {
	color: #f26500;
	display: block;
}


.hire-us-section {
	background-image: url(../images/case-studies/hire-us-bg.png);
	background-repeat: no-repeat;
	padding: 40px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	background-position: bottom center;
	margin: 60px auto 60px;
	border-radius: 10px;
	box-shadow: 0 9px 10px rgba(0, 0, 0, 0.2);
	background-size: cover;
}



/* .hire-left .sectitl h2 {
	font-family: "Lato-Heavy";
	text-align: left;
	font-size: 35px;
	margin: 10px 0;
	text-transform: uppercase;
	color: #fff !important;

} */

.hire-left p {
	margin-bottom: 0;
	text-align: left;
	color: #fff;
	font-size: 20px;
	line-height: 22px;
	padding-right: 46px;
}

.hire-right {
	min-width: 30%;
	text-align: right;
}

.our-client-sec {
	display: flex;
	align-items: center;
	display: none;
}

.two-blocks {
	width: 50%;

}


.client-imgwrap {
	position: relative;
}

.client-imgwrap img {
	width: 100%;
}

.play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.client-imgwrap .play-btn img {
	margin: 0;
}

.two-blocks.f-block {
	margin-right: 60px;
}

.seo-result-wrap .two-blocks.f-block {
	margin-left: 60px;
	margin-right: 0;
}


/* flexus-eco-sec */
.flexus-eco-sec {
	background: #f2e4da;
}

.subtext-ttl-v1 {
	color: #f26500;
	font-size: 30px;
	line-height: 35px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

.flexus-challenge-sec {
	background: #f2efda;
}

.crafting-custom-sec {
	background: #fff;
	position: relative;
}

/* methodical-planing */
.methodical-planing {
	z-index: 999;
}

/* methodical-wrapper */
.methodical-wrapper {
	background: #f4f4f4;
	padding: 60px 30px;

	margin: 40px 0 -280px;
}

.sucess-execution-sec {
	display: flex;
	margin: 30px 0 30px;
}

.execution-col-1 {
	background: #ffd3cc;
	padding: 30px;
	border-radius: 10px;
	margin: 0 20px 0 0;
	width: 50%;
}

.execution-col-2 {
	background: #ffd3cc;
	padding: 30px;
	border-radius: 10px;
	margin: 0 0 0 20px;
	width: 50%;
}

.execution-col-1 ul,
.execution-col-2 ul {
	list-style-type: none;
	padding: 5px 0;
	margin: 0;
}

.execution-col-1 ul li,
.execution-col-2 ul li {
	font-size: 18px;
	color: #363636;
	padding-right: 8px;
}

.execution-col-1 ul li i,
.execution-col-2 ul li i {
	color: #f26500;
	padding-right: 8px;
}

.execution-col-1 ul li {
	list-style-type: none;
	padding: 5px 0;
	margin: 0;
}

.execution-col-2 ul li {
	list-style-type: none;
	padding: 5px 0;
	margin: 0;
}

/* remarkable-result-section */
.remarkable-result-section {
	background: #f2e4da;
}

.remarkable-wrapper {
	margin-top: 215px;
}

.remarkable-wrapper h3 {
	font-size: 28px;
}

.remarkable-wrapper h3 span {
	color: #f26500;
}

.sales-graph-wrap {
	display: flex;
	justify-content: space-between;
	margin: 0 0 30px;
}

.sales-rectangle {
	width: 23.5%;
	background: #fff;
	border-radius: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	box-shadow: 0 9px 5px rgba(0, 0, 0, 0.2);
	padding: 30px 20px;
}


.sales-count {
	font-size: 50px;
	color: #f26500;
	margin: 0 0 6px 0;
	line-height: 36px;
}

.sales-text {
	color: #363636;
	font-size: 16px;
	font-weight: 400;
}


/* pandemic-section */
.pandemic-section {
	background: #f2efda;
}

.pandemic-section .sales-graph-wrap {
	margin: 30px 0;
}

/* support-partnership-sec */
.support-partnership-sec {
	background: #fff;
}

.seo-result-sec {
	background: #f5f5f5;
}

.seo-result-wrap {
	display: flex;
	align-items: center;
}

.get-result-btn.btn.btn-primary,
.submit-btn.btn.btn-primary {
	background: #f26500;
	padding: 12px 20px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	margin: 25px 0 0;
	border: 2px solid #f26500;
}

.seo-result-wrap .seo-imgwrap {
	position: relative;
}

.seo-imgwrap img {
	width: 100%;
}


/* request quote */
.quote-form {
	width: 80%;
	margin: 60px auto 0;
}

.inputrow {
	display: flex;
	justify-content: center;
}

.inputcol {
	width: 100%;
	margin: 0 15px 20px;
}

.inputsblocks label {
	color: #f26500;
	font-size: 16px;
	margin: 0 0 10px 0;
	font-weight: 700;
}

.inputcol .input-control {
	display: block;
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	padding: 9px 10px;
	font-size: 16px;
	color: #999;
	border: 1px solid #a8a8a8;
	border-radius: 0;
	background: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	box-shadow: none;
	border-radius: 5px;
}

.inputcol .textarea-control {
	display: block;
	width: 100%;
	height: 120px;
	margin-bottom: 10px;
	padding: 9px 10px;
	font-size: 16px;
	color: #999;
	border: 1px solid #a8a8a8;
	border-radius: 0;
	background: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	box-shadow: none;
	border-radius: 5px;
}

.inputcol .input-control:focus,
.inputcol .textarea-control:focus {
	border-color: #25b77c;
}

.submit-btn-sec {
	text-align: center;
}

.hireus-btn.btn.btn-primary {
	background: #363636;
	padding: 12px 20px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	border: 1px solid #363636;
}

.btn.btn-primary i {
	margin-right: 0;
}

.custom-html-content h2 {
	color: #000000;
}



@media screen and (min-width:1600px) and (max-width:2000px) {


	.our-client-sec,
	.flexus-eco-sec,
	.flexus-challenge-sec,
	.crafting-custom-sec,
	.remarkable-wrapper,
	.pandemic-wrapper,
	.innerwrap,
	.seo-result-wrap,
	.methodical-wrapper {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
}

@media (max-width:1399px) {
	.sectitl h2 {
		text-align: left;
	}

	.hire-us-section {
		max-width: 90%;
	}

	.hireus-btn.btn.btn-primary {
		padding: 12px 20px;
		font-size: 12px;

	}
}

@media (max-width:1160px) {
	.banner-caption h1 {
		font-size: 30px;
		line-height: 38px;
	}

	.banner-caption {
		padding: 0 10px 0 0;
	}

	.case-sec-ttl h2 {
		width: 60%;
	}

}


@media (max-width: 991px) {

	.casebanner-wrap {
		align-items: flex-start;
	}

}


@media (max-width: 768px) {
	.casebanner-wrap {
		flex-direction: column;
	}

	.banner-caption {
		/* padding: 0 90px 0 0; */
		width: 100%;
		margin: 0 0 20px 0;
	}

	.case-sec-ttl h2 {
		width: 80%;
	}

	.banner-caption h1 {
		font-size: 30px;
	}

	.casebanner-section {
		padding: 40px 0;
	}

	.bnr-img img {
		max-width: 200px;
	}

	.case-sec-ttl-v1 h2 {
		font-size: 30px;
	}


}

@media (max-width: 576px) {
	.casebanner-section {
		margin-top: 0;
	}

	.banner-caption {
		padding: 0;
		width: 100%;
		text-align: center;
	}

	.banner-caption h1 {
		font-size: 18px;
		line-height: inherit;
	}

	.banner-caption p {
		font-size: 15px;

	}

	.casebanner-section {
		background-position: bottom left;
	}

	.casebanner-wrap,
	.hire-us-section,
	.marketing-output,
	.inputrow {
		flex-direction: column;
	}

	.bnr-img {
		width: 80%;
		margin: 20px auto 0;
	}

	.case-sec-ttl h2,
	.hire-left .sectitl h2 {
		font-size: 20px;
		width: 100%;
		text-align: center;

	}

	.sec-pad p,
	.hire-left p {
		text-align: center;
	}

	.hire-right {
		margin: 20px 0 0;
	}

	.hire-left p {
		font-size: 16px;
		padding-right: 0;
	}

	.inputcol {
		width: 100%;
		margin: 0 0 20px;
	}

	.column-2 {
		justify-content: space-around;
	}

	.used-service-wrap {
		flex-direction: column;
	}

	.services-block {
		margin: 30px 0 0;
		flex-wrap: wrap;
		text-align: center;
		padding: 30px;
	}

	.service-icon {
		margin: 0 0 20px 0;
	}

	.hire-us-section {
		background-size: cover;
	}

	.our-client-sec {

		flex-direction: column;
	}

	.two-blocks {
		width: 100%;
		text-align: center;
	}

	.two-blocks.f-block {
		margin-bottom: 20px;
		margin-right: 0;
	}

	.case-sec-ttl-v1 h2 {
		font-size: 25px;
		text-align: center;
	}

	.case-sec-ttl-v1 h2:after {
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 10px);
	}

	.subtext-ttl-v1 {
		font-size: 25px;
		text-align: center;
	}

	.sucess-execution-sec {
		flex-direction: column;
	}

	.execution-col-1 {
		margin: 0 0 30px;
		width: 100%;
	}

	.execution-col-2 {
		margin: 0;
		width: 100%;
	}

	.sales-graph-wrap,
	.seo-result-wrap {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.sales-rectangle {
		width: 100%;
		margin: 0 0 20px;
		max-width: 330px;
	}

	.sales-count {
		font-size: 38px;
	}

	.seo-result-wrap .two-blocks.f-block {
		margin-top: 30px;

	}

	.three-blocks {
		justify-content: center;
	}

	.remarkable-wrapper {
		text-align: center;
	}

	.remarkable-wrapper h3 {
		font-size: 25px;
		margin-top: 15px;
	}

}


.casestudy1content .bnr-subtile{
	color: white !important;
	font-weight: 500;
	}

.second_section_content_3 h2 {
color: #000000 !important;
}
.second_section_content_4 h2 {
color: #000000 !important;
}

.third_section_top_content h2{
	color: #000000 !important;
}
.fourth_section_top_content h2 {
	color: #000000 !important;
}
.fourth_section_top_content p {
	color: #363636 !important;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0 0 10px 0;
}
.innerwrap p {
	color: #000000 !important;

}
.fifth_section_content .case-sec-ttl-v1 h2{
	color: #000000 !important;
}