


/* footer-dropdown */
ul {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .dropdown-content {
    display: none;
    margin-left: 8px !important;
    margin-top: 5px;
  }
  
  .dropdown-content a {
    display: block;
    padding: 2px 0;
    text-decoration: none;
    color: #555;
  }
  
  .dropdown-content.active {
    display: block;
  }
  
  .main-link {
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: #000;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  ul.partners{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  li {
    margin-bottom: 0px;
  }
  
  .dropdown-content {
    display: none;
    margin-left: 20px;
    margin-top: 5px;
  }
  
  .dropdown-content a {
    display: block;
    padding: 2px 0;
    text-decoration: none;
    color: #555;
  }
  
.dropdown-content.active {
    display: block;
    margin-bottom: 20px;
}
  
  .main-link {
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: #000;
  }
  
  .footer-col .menu-list.new-menu-list ul li a{
    color: #ffffff;
 }
  
  .page_content-1 .top-footer{
    padding-top: 210px;
  }
  
  .top-footer.new-footer{
    padding-top: 0;
  }
  
  .footer-col .menu-list {
    padding-left: 0px;
  }
  
  .top-footer ul#myTab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    margin-bottom: 30px;
  }
  .footer-col li.nav-item {
    width: 23%;
  }
  
  .footer-col button.nav-link {
    width: 100%;
    border-radius: 10px;
    color: white;
    background:rgba(0, 0, 0, 0.205);
    border: none;
    display: flex;
    align-items: center;
  }
  
  .footer-col button.nav-link.active {
    width: 100%;
    border-radius: 10px;
    color: white;
    background:#ff4f02;
    border: none;
  }
  .footer-col .icon {
    color: white;
    font-size: 20px;
    margin-right: 15px;
  }
  ul.d-flx{
    width: 100%;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  ul.d-flx li{
    width: 19%;
  
  }
  .row.d-flc-2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  ul#locationList li{
    padding-right: 5px;
  }
  
  .row.d-flc-2 .col-6{
    padding: 0;
  }
  
  
  .footer-col .success {
    padding: 0px ;
  }
  
  .menu-list.new-menu-list.new-lst{
    margin-top: 40px;
  }
  
  .success img {
    max-width: 150px;
    margin-left: 36px;
  }
  .footer-col .menu-list.new-menu-list ul li a{
    width: 100%;
  }

  .footer-accordian .accordion-body{
    padding: 0;
    border: none;
  }
  .footer-accordian .top-footer.new-footer {
    padding: 15px 0;
    border: none;
}

.footer-accordian .accordion-button {
   color: white;
  background: rgba(0, 0, 0, 0.335);
    padding: 17px 20px;
    font-weight: 500;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: none !important;
}


.accordion-item {
  box-shadow: none;
  border-radius: 0;
}

.accordion-button:not(.collapsed)::before{
    transform: rotate(180deg);
}
/* .accordion-button::before {
    content: '\f078';
    font-family: 'Font Awesome 6 Pro';
    font-weight: 900;
    background-image: none;
    font-size: 1rem;
    transition: transform 0.3s ease;
    color: black;
    margin-right: auto ;
} */

.footer-col .accordion-button:not(.collapsed) {
    background-color: #FF4F02;
    color: #ffffff;
}

.footer-col .main-link.rotate-icon:before {
  transform: rotate(90deg);
  transition: 0.3s ease-in-out;
}


.footer-col .accordion-item {
    background: none;
}

.footer-col .partners li img {
    max-width: 170px;
}
.footer-col .menu-list ul li a{
  width: 100%;
}



.footer-col .accordion-flush .accordion-item{
  border: none;
}

.footer-col .accordion-button::after{
filter: brightness(0) invert(1);
}

/* .page_content-1 .top-footer {
    padding-top: 118px;
} */

/* .footer-col .menu-list ul li a:before {
    content: '\f0da';
    color: #ff4f02;
    font-size: 16px;
    font-family: 'Font Awesome 6 Pro';
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 3px;
} */

.footer-col .top-footer.new-footer {
    padding-bottom: 10px;
}

.footer-col .menu-list.new-menu-list ul li a:before {
    content: '\f0da';
    color: #ff4f02;
    font-size: 16px;
    font-family: 'Font Awesome 6 Pro';
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 3px;
}








  
@media screen and (max-width: 1199px) {
  .footer-col  ul.d-flx li {
      width: 24% !important;
  }
  }
  
  
  @media screen and (max-width: 991px) {
    .container{
      padding: 0 15px;
    }
   .footer-col ul.d-flx li {
      width: 32% !important;
  }
 .footer-col .row.d-flc-2 {
    display: flex;
    align-items: flex-start;
    justify-content: initial;
  }
  .partners li img{
    max-width: 140px;
}
.page_content-1 .top-footer {
    padding-top: 150px;
}
  }
  @media screen and (max-width:767px) {
    .success img {
      max-width: 128px ;
      margin-left: 0px;
      margin-top: 20px;
    }
    .footer-col li.nav-item {
      width: 47% !important;
  }
  .page_content-1 .top-footer {
    padding-top: 120px;
}
  }
  

  @media screen and (max-width: 576px) {
    ul.d-flx li {
      width: 48% !important;
  }
  .footer-col .footer-social {
    margin-bottom: 12px;
  }
  }
  @media screen and (max-width: 480px) {
    ul.d-flx li {
      width: 100% !important;
  }
  .footer-col li.nav-item {
    width: 100% !important;
  }
  }




  /* Mobile footer accordion */
.footer-accordion {
  border-top: 1px solid rgba(0,0,0,0.08);
}

.footer-acc-item {
  border-bottom: 1px solid rgba(0,0,0,0.08);
}

.footer-acc-btn {
  width: 100%;
  padding: 14px 12px;
  background: transparent;
  border: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.footer-acc-panel {
  overflow: hidden;
  max-height: 0;
  transition: max-height 350ms ease;
}

.footer-acc-inner {
  padding: 0 12px 14px;
}



#locationList,
#locationList li {
  list-style: none !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

#locationList li::before,
#locationList a::before,
#locationList li a::before {
  content: none !important;
  display: none !important;
}


/* .d-flx,
.d-flx li {
  list-style: none !important;
  padding-left: 0 !important;
  margin: 0 !important;
}

.d-flx li::marker {
  content: "" !important;
} */

/* Explore list: remove bullets */
.explore-list {
  list-style: none !important;
  padding-left: 0 !important;
  margin: 0 !important;
}

.explore-list > li {
  list-style: none !important;
}

.explore-list > li::marker {
  content: "" !important;
}

/* 1) Kill any real list bullets/images */
.explore-list,
.explore-list li {
  list-style: none !important;
  list-style-image: none !important;
  padding-left: 0 !important;
  margin: 0 !important;
}

/* 2) Kill marker + pseudo bullets on li */
.explore-list li::marker,
.explore-list li::before,
.explore-list li::after {
  content: none !important;
  display: none !important;
}

/* 3) Kill pseudo bullets on anchors (MOST COMMON CAUSE) */
.explore-list a::before,
.explore-list a::after,
.explore-list .main-link::before,
.explore-list .main-link::after,
.explore-list .dropdown-content a::before,
.explore-list .dropdown-content a::after {
  content: none !important;
  display: none !important;
}

/* 4) If it's a background icon */
.explore-list a {
  background: none !important;
  padding-left: 0 !important;
}



